svg {
  viewport-fill: fb-black;
}

.small-value-center {
  font-family: Seville-Book;
  font-size: 24;
  fill: fb-white;
  width: 100%;
  text-anchor: middle;
  text-length: 20;
}
.vsmall-value-center {
  font-family: Seville-Book;
  font-size: 20;
  fill: fb-white;
  width: 100%;
  text-anchor: middle;
  text-length: 3;
}

.value-center {
  font-family: Seville-Book;
  font-size: 48;
  fill: fb-white;
  width: 100%;
  text-anchor: middle;
  text-length: 3;
}

.small-value-left {
  font-family: Tungsten-Medium;
  font-size: 36;
  fill: lime;
  width: 100%;
  text-anchor: start;
  text-length: 16;
}
.small-center {
  font-family: Tungsten-Medium;
  font-size: 18;
  fill: lime;
  width: 100%;
  text-anchor: middle;
  text-length: 2;
}

.vel-value-right {
  font-family: Tungsten-Medium;
  font-size: 50;
  fill: lime;
  width: 100%;
  text-anchor: end;
  text-length: 16;
}

.medium-value-unidad {
  font-family: Tungsten-Medium;
  font-size: 40;
  fill: lime;
  width: 50%;
  text-anchor: start;
  text-length:10
}

.error-value {
  font-family: Seville-Book;
  font-size: 16;
  fill: fb-red;
  width: 100%;
  text-anchor: middle;
  text-length:30
}

#icon-gps {
  href: "icn_status_gps.png";
  x: 8;
  y: 8;
  width: 32;
  height: 32;
  fill: fb-orange;
}

#circulo {
  fill: lime;
}

#circulo2 {
  fill: lime;
}

.texto {
  fill: lime;
  font-size: 30;
  font-family: Tungsten-Medium;
  text-anchor: start;
  text-length: 40;
}

.textodesc {
  fill: lime;
  font-size: 30;
  font-family: Tungsten-Medium;
  font-weight: regular;
  text-anchor: middle;
  text-length: 40;
}
.textoval {
  fill: lime;
  font-size: 30;
  font-family: Tungsten-Medium;
  text-anchor: end;
  text-length: 40;
}

.textotempval {
  fill: lime;
  font-size: 40;
  font-family: Tungsten-Medium;
  font-weight: bold;
  text-anchor: end;
  text-length: 20;
}
.textouval {
  fill: lime;
  font-size: 30;
  font-family: Tungsten-Medium;
  font-weight: regular;
  text-anchor: start;
  text-length: 5;
}
.textotemp {
  fill: lime;
  font-size: 40;
  font-family: Tungsten-Medium;
  font-weight: regular;
  text-anchor: start;
  text-length: 99;
}
.textotitulo {
  fill: lime;
  font-size: 48;
  font-family: Tungsten-Medium;
  font-weight: bold;
  text-anchor: middle;
  text-length: 40;
}
.textopcard {
  fill: fb-black;
  font-size: 30;
  font-family: Tungsten-Medium;
  font-weight: regular;
  text-anchor: middle;
  text-length: 5;
}

.textotitulogrande {
  fill: lime;
  font-size: 52;
  font-family: Tungsten-Medium;
  text-anchor: middle;
  text-length: 20;
}

.textoaltura {
  fill: lime;
  font-size: 36;
  font-family: Tungsten-Medium;
  text-anchor: end;
  text-length: 20;
}
.textoalturaunidad {
  fill: lime;
  font-size: 24;
  font-family: Tungsten-Medium;
  text-anchor: middle;
  text-length: 10;
}
.bateria-center {
  font-family: System-Bold;
  font-size: 12;
  text-length: 5;
  width: 100%;
  text-anchor: middle;
}

#bateria {
    fill: red;
}

#carga {
   width=37;
}

#textcarga{
  fill: white;
}
